[submodule "code/systems/SpriteKit"]
	path = code/systems/SpriteKit
	url = https://github.com/Adesii/SpriteKit
[submodule "code/systems/PixelWorld"]
	path = code/systems/PixelWorld
	url = https://github.com/Adesii/sbox-pixelworld
