.ingameroot{
    width: 100%;
    height: 100%;
    position: absolute;
    transition:all 2s ease-in-out;
    opacity: 1;
    &.hidden{
        opacity: 0;
        pointer-events: none;
    }
    pointer-events: none;
}