.itembar{
    position: absolute;
    bottom: 10;
    height: 100px;
    width: 100%;
    justify-content: center;
    .ItemList{
        width: 70%;
        height: 100%;
        border-radius: 5px;
        background-image: url("/ui/MainMenu/UI-Background.png");
        image-rendering: pixelated;
        background-size: 512;
    }
}