.minimap{
    position: absolute;
    top: 20;
    right: 20;

    background-color: rgba(197, 122, 35, 0.644);
    border-radius: 5px;
    width: 350px;
    aspect-ratio: 1;


    background-image: url("/ui/MainMenu/UI-Background.png");
    image-rendering: pixelated;
    background-size: 512;
}