@import "/ui/theme.scss";
.MainMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: all;
    &.hidden{
        transition:all 0.1s ease-in-out;
        opacity: 0;
    }
    justify-content: center;
    align-items: center;
}
.BackGround{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/ui/MainMenu/MainMenuBackground.png");
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
}

.MainMenuSelect{
    height: 60%;
    width: 30%;
    //background-color: $MainBackground;
    background-image: url("/ui/MainMenu/UI-Background.png");
    image-rendering: pixelated;
    background-size: 512;
    position: absolute;
    left: 125px;
    bottom: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 50px;

    border-radius: 10px;
    .menu-btn{
        height: 100px;
        width: 100%;
        
        border-radius: 10px;

        align-items: center;
        justify-content: center;
        
        &:hover{
            background-color: #f7e6b1;
        }
        pointer-events: all;

        &.wip{
            opacity: 0.5;
            pointer-events: none;
        }
    }
}

.TitlePanel{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 50px;
    justify-content: center;
    align-items: center;
    background-image: url("/ui/MainMenu/Logo.png");
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.LobbySection{
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 25%;
    height: 50%;
    background-image: url("/ui/MainMenu/UI-Background.png");
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: repeat;
    background-position-x: -10%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    opacity: 0.5;
    .LobbyTitle{
        font-size: 30px;
        font-weight: bold;
        height: 50px;
    }
    .LobbyList{
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .PlayerListing{
            width: 400px;
            height: 100px;
            background-color: gray;

            font-size: 30px;
            font-weight: bold;
        }

    }
}

.LoadMenu{
    width: 70%;
    height: 70%;
    background-image: url("/ui/MainMenu/UI-Background.png");
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: repeat;
    background-position-x: -10%;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    transition:opacity 0.5s ease-in-out;
    .LoadTitle{
        font-size: 30px;
        font-weight: bold;
        height: 50px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .LoadList{
        width: 90%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(5, 5, 5, 0.329);
        border-radius: 10px;
        align-self: center;
        .LoadListing{
            width: 400px;
            height: 100px;

            font-size: 30px;
            font-weight: bold;
        }

    }
    .backbutton{
        width: 250px;
        height: 100px;
        background-image: url("/ui/MainMenu/UI-Background-Stone.png");
        image-rendering: pixelated;
        background-size: 512;
        pointer-events: all;
        font-family: Public Pixel;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: $MainFontColor;
        text-shadow: 5px 3px rgb(0, 0, 0);
        transition: all 0.1s ease-in-out;
        transform: scale(1);
        &:hover{
            filter:brightness(1.5);
            transform: scale(1.05);
        }
    }
    &.hidden{
        opacity: 0;
    }
    SaveState{
        height: 70px;
        width: 100%;
        margin-bottom: 10px;
        .SaveName{
            flex-grow: 1;
            background-color: rgba(0, 0, 0, 0.267);
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .overwritesave{
            label {
                font-family: materialicons;
                font-size: 40px;
                min-width: 100px;
                justify-content: center;
                text-align: center;
            }
        }
    }
}