@import "/ui/theme.scss";
.MainMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: all;
    &.hidden{
        transition:all 0.1s ease-in-out;
        opacity: 0;
    }
}
.BackGround{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/ui/MainMenu/MainMenuBackground.png");
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
}

.MainMenuSelect{
    height: 60%;
    width: 30%;
    //background-color: $MainBackground;
    background-image: url("/Sprites/Map/Walls/Paint Layer 1.PNG");
    image-rendering: pixelated;
    background-size: cover;
    position: absolute;
    left: 125px;
    bottom: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 50px;

    border-radius: 10px;
    .menu-btn{
        height: 100px;
        width: 100%;
        background-color: #c2a548;
        border-radius: 10px;

        align-items: center;
        justify-content: center;
        .label{
            font-size: 30px;
            font-weight: bold;
        }
        &:hover{
            background-color: #f7e6b1;
        }
        pointer-events: all;
    }
}

.TitlePanel{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 50px;
    justify-content: center;
    align-items: center;
    background-image: url("/ui/MainMenu/Logo.png");
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.LobbySection{
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 25%;
    height: 50%;
    background-image: url("/Sprites/Map/Walls/Paint Layer 1.PNG");
    image-rendering: pixelated;
    background-size: cover;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    .LobbyTitle{
        font-size: 30px;
        font-weight: bold;
        height: 50px;
    }
    .LobbyList{
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .PlayerListing{
            width: 400px;
            height: 100px;
            background-color: gray;

            font-size: 30px;
            font-weight: bold;
        }

    }
}